/*
Colors used:
Primary (White): #FDFDFD
Primary (Black): #212121
Secondary (Cream): #F1F1EC 
Accent (Green): #A0EE20
Accent (Orange): #FF4F04
Accent (Grey): #737373
*/

* {
    box-sizing: border-box;
}

.container {
    padding: 0 16px;
}

body {
    background-color: #FDFDFD;
    font-family: 'Space Grotesk', sans-serif;
    font: size 16px;
    font-weight:500;
    color: #212121;
}

    h1 { /* Page titles */
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -2px;
    }

    h2 { /* Home intro text */
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.6;
    }

    h3 { /* Section titles (Work, Bio, Contacts) */
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -1px;
        text-decoration: underline;
    }

    h4 { /* Project titles */
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -2px;
        margin: 10px 0 0 0;
    }

    h5 { /* In container titles (Skills, Tools) */
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -1px;
        margin: 0;
    }

    h5 {
        display: block;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    h6 { /* Project tags */
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        line-height: 1.6;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
    }

    img {
        width: 100%;
    }

/*Hyperlinks*/

    a {
        color: #3119e1;
        font-size: 16px;
        text-decoration: none;
    }
        a:visited {
            color: #8560bf;
        }
        a:hover {
            color: #A0EE20;
        }
        a:active {
            color: #2c2c2c;
        }
        a:focus {
            outline: 2px solid #212121;
        }


/*Buttons*/

    .primary-button {
        display: inline-block;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        background-color: #A0EE20;
        color: #212121;
        transition: 0.2s opacity;
    }

        .primary-button:hover {
        background-color:  #212121;
        color: #A0EE20;
        opacity: 0.8;
        }

    .button.contact {
        display: inline-block;
        border: 2px solid #212121;
        padding: 8px 12px;
        border-radius: 4px;
        text-decoration: none;
        background-color: transparent;
        color: #212121;
        text-transform: uppercase;
    }

        .button.contact:hover {
            background-color: #212121;
            color: #fdfdfd;
            text-decoration: underline;
        }

/* Layout styling */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1EC;
    padding: 16px 0;
    width: 100%;
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: none; 
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    margin: 0px 0px 24px 0;
    text-align: left;
    display: block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    display: inline-block;
    width: 100%;
}

#work {
    background-color: #F1F1EC;
    text-align: left;
    padding: 16px 0;
    display: inline-block;
    width: 100%;
}

#skillstools {
    background-color: #F1F1EC;
    text-align: left;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#biotext {padding: 16px;}

#work .row {padding-bottom: 25px; border-bottom: 1px solid #4a4a4a}

main {
    padding-top: 56px;
}

#hero {
    background-color: #FDFDFD;
    display: inline-block;
    width: 100%;
    padding: 16px 0;
}

#hero h1 { 
    text-align: left;
}

.aboutimage{
    width: 100%;
    float: inline-end;
    margin: 16px;
}

.logo-container {
    max-width: 140px;
    padding: 16px 0 0 16px;
}

.logo {
    max-width: 100%; 
    height: auto;}


nav {
    width: 100%;
    display: inline-block; 
    padding-top: 24px; padding-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none; padding: 0; margin: 0;
    display: flex;
}


nav > ul > li > a { 
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
}

nav > ul > li > a:visited { 
    color: #8560bf;
    text-decoration: none;
}

nav > ul > li > a:hover { 
    color: #A0EE20;
    text-decoration: none;
}

nav > ul > li > a:active {
    color: #2c2c2c;
}

nav > ul > li > a:focus {
    outline: 2px solid #212121;
}

.navtoggle {
    position: relative;
}

.navtoggle li .icon {
    font-size: 20px;
  }

.navtoggle li:not(:last-child) {
    display: none;
  }

.navtoggle, .navtoggle.responsive {
    position: relative;
  }

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    text-align: center;
    border-top: 1px solid rgba(255,127,80,0.5);
    border-bottom: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

#footer {
    background-color: #212121;
    padding: 20px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#icons{
    padding: 16px 0px 0px 0px;
    text-align: center;
}

#icon{
    background-color: #212121;
    display: flex;
    justify-content: center;
}

#copyright {
    text-align: center;
    font-size: 16px;
    padding-bottom: 16px;
}

/*Animations*/

.berlin {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);} 
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

/*Media Queries*/

    /*====Medium====*/
    @media only screen and (min-width: 640px) {
        #header {
            text-align: unset;
            padding: 0px 0px 13px;
            font-size: 18px;
        }

        nav {
            width: auto;
            float: right;
            margin-right: 14px;
            margin-bottom: 32px;
        }

        nav > ul {
            margin: 1em 0;
        }

        nav > ul > li {
            display:inline-block;
        }

        .navtoggle li:not(:last-child) {
            display: inline-block;
          }

        .col-md-6 {
            width: 50%;
        }

        [class*="col-"] {
            float: left;
            padding: 10px;
        }

    }

    /*====Large====*/
    @media only screen and (min-width: 1024px) {
        header {
            text-align: unset;
            padding: 0 0 13px;
            font-size: 20px;
        }

        nav {
            width: auto;
            float: right;
            margin-right: 14px;
            margin-bottom: 32px;
        }

        .col-lg-7{
            width: 60%;
        }

        .col-lg-5{
            width: 40%;
        }

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

       